html, body {
  background-color: red;
  margin: 0;
  color: #333;
  height: 100%;
  overflow: hidden;
}

#wrapper {
  height: 100%;
}

#main {
  text-align: center;
  vertical-align: middle;
  padding-top: 90px;
}

#splashscreen {
  position: absolute;
  height: 100%;
  width: 100%;
}

#homescreen {
  position: absolute;
  display: none;
  height: 100%;
  width: 100%;
}

#newadventurescreen {
  position: absolute;
  display: none;
  height: 100%;
  width: 100%;
}

#navscreen {
  position: absolute;
  display: none;
  height: 390px;
  width: 100%;
}